---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="My projects" sideBarActiveItemID="projects">
  <section class="pb-12 mt-5">
    <div>
      <div class="text-3xl w-full font-bold mb-5">
        Telegram bot system with admin panel for agricultural support
      </div>
    </div>

    <HorizontalCard
      title="National system for supporting farmers (Ukraine)"
      img="/img/agrobot-admin.png"
      desc="Telegram bot and admin dashboard for quickly processing agricultural assistance requests. Developed with Node.js, Laravel, and MySQL."
      url="#"
      badge="telegram bot"
      rel="nofollow"
    />

    <HorizontalCard
      title="Svkus.com"
      img="/img/pro/svkus.png"
      desc="SVKUS.com is a full-featured website built for a chain of five restaurants, running on WordPress with a unified order management system. Later, the platform was expanded with food delivery functionality and a healthy-nutrition meal planning calculator."
      url="https://svkus.com/"
      badge="website"
      rel="nofollow"
    />
    
    <HorizontalCard
      title="inforesist.org"
      img="/img/pro/inforesist.png"
      desc="InfoResist.org involved developing custom WordPress plugins to extend both the admin panel capabilities and front-end functionality."
      url="https://inforesist.org/"
      badge="Plugins development"
      rel="nofollow"
    />
    
    <HorizontalCard
      title="initaliano.school"
      img="/img/pro/initaliano.png"
      desc="Initaliano.school is a WordPress WooCommerce website built for an Italian language tutor, providing a platform for selling online courses."
      url="https://initaliano.school/"
      badge="WooCommerce"
      rel="nofollow"
    />

  </section>
</BaseLayout>
